{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Invitation Sent</h2>
                    <h5 class="welcome-message">Welcome {{ user.username }}, Love to see you back.</h5>
                </div>
            </div>
            <hr />
            <div class="task-manager row">
                <div class="col-md-6">
                    <div class="task-left">
                        <p>An invitation has been sent to {{ email }}. Please ask the recipient to check their inbox.</p>
                        <a href="/project/{{project.id}}" class="back-link">Back to Dashboard</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="task-right">
                        <div class="actions">
                            <div class="circle"></div>
                            <div class="circle-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}